@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,700&family=Special+Elite&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #bed6f7;
}

header {
  background-color: #bed6f7;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.money {
  display: none;
}

.logo {
  height: 80%;
}

.logo > img {

height: 100%;
}

.logo2 {display: none;}

nav {
  background-color: #bed6f7;
  grid-area: nav;
  border-radius: 10px;
  box-shadow: inset 0px 0px 15px #a3c5f5;
}

.lista {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.textnav {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.textnav:hover {
  box-shadow: 0px 0px 15px rgba(8, 168, 29, 0.623);
}

a {
  text-decoration: none;
  color: #000000;
}

menu {
  background-color: #bed6f7;
  grid-area: menu;
  padding-top: 20px;
  overflow: scroll;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

h2 {
  font-family: "DM Serif Text", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 42px;
}

article {
  max-width: 80%;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease;
}

article:hover {
  transform: translateY(-10px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.empresa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;

}

.empresa > a {
  width: 100%;
}

.empresa > a > img {
  max-width: 60%;
  border-radius: 10px;

}

h3 {
  font-family: "DM Serif Text", serif;
  font-weight: 800;
  font-style: normal;
  font-size: 32px;
  animation: descuento 6s infinite alternate;
}

@keyframes descuento {
  0% {color: #e40a90;}

  25% {color: #478bff;}

  50% {color: #ffba00;}

  75% {color: #21bb5c;}

  100% {color: #ff0067;}
}

h4 {
  font-weight: 800;
}

.cupon {
  width: 60%;
  height: 90px;
  background-image: url(../img/cuponblack.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.codigo {
  padding-top: 5px;
  cursor: pointer;
  font-family: "Special Elite", serif;
  font-weight: 800;
  font-size: x-large;
  font-style: normal;
}

.expiracion {
  font-style: italic;
}
.line > img {
  width: 100%;
}

footer {
  background-color: #176B87;
  grid-area: footer;
}

.bg-insta {
  background: linear-gradient(to right, #ffba00, #ff0067);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-you {
  color: rgb(207, 52, 52);
}

.bg-tlg {
  color: #08489b;
}

.bg-wsp {
  color: #21bb5c;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  flex-direction: column;
  border: 1px solid orange;
}

.icons {
  display: flex;
  gap: 15px;
}

.textfoot {
  font-style: italic;
}

body {
  display: grid;
  grid-template-areas:
  "header"
  "nav"
  "menu"
  "footer";
  grid-template-rows: 100px 90px calc(100vh - 100px - 90px - 100px) 100px;
}

@media (min-width: 576px) {
  body {
    grid-template-areas:
  "nav header"
  "nav menu"
  "footer footer";
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 120px calc(100vh - 120px - 90px) 90px;
  }

  menu {
    padding-top: 0px;
  }

  .money {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
  }

  .money > img {
    width: 40%;
    height: 100%;
  }

  .logo {
    display: none;
  }

  .logo2 {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
  }

  .logo2 > img {
  width: 100%;
  height: 100%;
  }

  nav {
    box-shadow: inset 0px 0px 15px #060b1100;
  }

  .lista {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
  }

  article {
    max-width: 60%;
  }

  .cupon {
    width: 80%;
  }
}

@media (min-width: 976px) {

  body {
  grid-template-columns: 2fr 8fr;
  }

  article {
    max-width: 40%;
  }

  .cupon {
    width: 60%;
  }
}

@media (min-width: 1276px) {

  article {
    max-width: 30%;
  }

  .cupon {
    width: 60%;
  }
}

@media (min-width: 1776px) {

  body {
    grid-template-columns: 1fr 5fr;
    }

  article {
    max-width: 25%;
  }

  .cupon {
    width: 40%;
  }
}
