@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=DM+Serif+Text:ital@0;1&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,700&family=Special+Elite&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #bed6f7;
}

header {
  background-color: #bed6f7;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 80%;
}

.logo > img {

height: 100%;
}

nav {
  background-color: #bed6f7;
  grid-area: nav;
  border-radius: 10px;
  box-shadow: inset 0px 0px 15px #a3c5f5;
}

.lista {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.textnav {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  color: #000000;
}

menu {
  background-color: #bed6f7;
  grid-area: menu;

  overflow: scroll;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  gap: 15px;
}

h2 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: xx-large;
}

article {
  max-width: 80%;
}

.empresa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.empresa > a {
  width: 100%;
}

.empresa > a > img {
  max-width: 60%;
  border-radius: 10px;
}

h3 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
  font-size: x-large;
}

h4 {
  font-weight: 800;
}

.cupon {
  width: 50%;
  height: 90px;
  background-image: url(../img/cuponblack.png);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.codigo {
  padding-top: 5px;
  cursor: pointer;
  font-family: "Special Elite", serif;
  font-weight: 800;
  font-size: x-large;
  font-style: normal;
}

.expiracion {
  font-style: italic;
}

.line > img {
  width: 100%;
}

footer {
  background-color: #176B87;
  grid-area: footer;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: grid;
  grid-template-areas:
  "header"
  "nav"
  "menu"
  "footer";
  grid-template-rows: 100px 90px calc(100vh - 100px - 90px - 70px) 70px;
}

@media (min-width: 576px) {
  body {
    grid-template-areas:
  "header header"
  "nav menu"
  "footer footer";
  grid-template-columns: 2fr 11fr;
  grid-template-rows: 90px calc(100vh - 90px - 90px) 90px;
  }
}

